.navbar {
  background-color: #6d4a3d;
  opacity: 50%;
}
.jumbotron {
  background-image: url(../IMG/background.png);
  background-attachment: fixed;
  background-size: cover;
  background-position: 0 -100px;
  padding-top: 6rem;
  background-color: #c3b4aa;
}
#project {
  background-color: #b8a598;
}
section {
  padding-top: 5rem;
}
footer {
  background-color: #c3b4aa;
}

body {
  /* margin:0;
  padding:0; */
  /* width:100%;
  height:100%; */
  /* background:#111;
  overflow:hidden; */
  /* cursor:pointer; */
}

.prt {
  position:absolute;
  top:-6px;
  left:-3px;
  width:10px;
  height:10px;
  border-radius:50%;
  background:radial-gradient(rgba(255,255,255,.5),rgba(255,255,255,0));;
}
